<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/slider.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <colour-picker>
        <template v-slot:rgbsliders>
          <colour-slider col="red"></colour-slider>
          <colour-slider col="green"></colour-slider>
          <colour-slider col="blue"></colour-slider>
        </template>
      </colour-picker>
    </div>

    <template id="colour-picker-template">

      <div>

        <h2>Colour picker</h2>

          <slot name="rgbsliders"></slot>
      
          <span class="m-b-10">
            Hex
             <input 
              :value="`#${hexColour(red, green, blue)}`"
              type="text"
              class="p-5 font-size-16px"
            >
          </span>

          <hr>

          <h3>Click <i class="fas fa-plus"></i> to add or <i class="fas fa-times"></i> to remove</h3>

          <div class="m-b-10">
            <label for="random" class="pointer">Randomise</label>
            <input id="random" type="checkbox" v-model="random">
          </div>
          <button class="font-size-16px m-b-10" @click="clearAll">&times; Clear all</button>

          <div 
            :style="{'background-color': `rgb(${red},${green},${blue}`}"
            class="custom-colour add d-block m-b-10"
            @click="addColour(red, green, blue)"
            :title="`#${hexColour(red,green,blue)}`"
          >
          </div>

          <div class="m-t-10 m-b-10">
            <span 
              v-for="(colour, index) of coloursArray" 
              class="custom-colour delete d-inline-block"
              :style="{'background-color':`${colour.rgb}`}"
              @click="deleteColour(colour.id)"
              :title="`${colour.hex}`"
            >
            </span>
          </div>
        </div>

      </template>

      <template id="colour-slider-template">
        <div class="m-0 m-b-10 width-200px">
          <div class="m-b-5">{{col}}: {{vmodel}} </div>
            <input 
              v-model="vmodel"
              class="slider"
              :class="col"
              type="range"
              min="0" 
              max="255" 
              step="1"
            >
        </div>
      </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="/js/script.js"></script>

  </body>
</html>