<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="slider.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <colour-picker></colour-picker>
    </div>

    <template id="colour-picker-template">

      <div>

        <h2>Colour swatch maker</h2>

          <div class="slidecontainer">
            <span>Red: {{red}}</span>
              <input 
                v-model="red" 
                class="slider red" 
                type="range" 
                min="0" 
                max="255" 
                step="1"
              >
          </div>

          <div class="slidecontainer">
            <span>Green: {{green}}</span>
              <input 
                v-model="green" 
                class="slider green" 
                type="range" 
                min="0" 
                max="255" 
                step="1"
              >
          </div>

          <div class="slidecontainer">
            <span>Blue: {{blue}}</span>
              <input 
                v-model="blue" 
                class="slider blue" 
                type="range" 
                min="0" 
                max="255" 
                step="1"
              >
          </div>

          <div class="m-b-10">
            Hex: #{{`${hexColour(red,green,blue)}`}}
          </div>

          <hr>

          <!-- <button class="m-b-10" @click="randomise">Randomise</button> -->

          <h3>Click <i class="fas fa-plus"></i> to add or <i class="fas fa-times"></i> to remove</h3>

          <div class="m-b-10">
            <label for="random" class="pointer">Randomise</label>
            <input id="random" type="checkbox" v-model="random">
          </div>
          <button class="m-b-10" @click="clearAll">&times; Clear all</button>

          <div 
            :style="{'background-color': `rgb(${red},${green},${blue}`}"
            class="custom-colour add d-block m-b-10"
            @click="addColour(red, green, blue)"
            :title="`#${hexColour(red,green,blue)}`"
          >
          </div>

          <div class="m-t-10 m-b-10">
            <span 
              v-for="(colour, index) of coloursArray" 
              class="custom-colour delete d-inline-block"
              :style="{'background-color':`${colour.rgb}`}"
              @click="deleteColour(colour.id)"
              :title="`${colour.hex}`"
            >
            </span>
          </div>
        </div>

      </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="script.js"></script>

  </body>
</html>